<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p> Hi, </p>
      <p>
        Please find attached a report for transactions for <%= "#{Date.yesterday.strftime('%d/%m/%Y')}" %>.
      </p>
      <p>Thank You</p>
    </p>

  </body>
</html>
