<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="<%= root_path %>" class="navbar-brand">
         <div class="brand-logo">

         </div>
         <div class="brand-logo-collapsed">
            
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- START Alert menu-->

         <!-- END Alert menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
