<%= provide(:title, "Create New Push Pay Broadcast") %>
<h3>
   <%= "Broadcasts" %>
   <small><%= "Create New Push Pay Broadcast" %></small>
</h3>
</h3>

<%= render 'form', push_pay_broadcast: @push_pay_broadcast %>
