/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * --- Angle Main Stylesheet
 *
 *= require angle/app
 *
 * --- Assets paths redefinition
 *
 *= require fonts
 *= require vendor.assets
 *= require time_picker
 *= require base
 *
 */

.navbar-header > a {
   color: #ffff
}
.colors {
  display: none;
}
.rtp_green {
  color: green;
}
.rtp_red {
  color: red;
}

body.jackpot {
   background-image: linear-gradient(45deg, #f45e50, #ffd80f) !important;
}
